*{margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'JetBrains Mono',monospace}


body{height:100vh;
    overflow:hidden}


.wallpaper{position:fixed;
    inset:0;
    background:url("wallpapers/dark.jpg") center/cover no-repeat;
    filter:blur(8px);
    transform:scale(1.1);
    z-index:-1}


.terminal{width:70%;
    height:75%;
    margin:5vh auto;
    background:rgba(20,20,20,.75);
    backdrop-filter:blur(20px);
    border-radius:12px;
    color:#eaeaea;
    display:flex;
    flex-direction:column}


.header{display:flex;
    align-items:center;
    padding:10px;
    gap:8px;
    background:rgba(255,255,255,.05)}


.dot{width:12px;
    height:12px;
    border-radius:50%}


.red{background:#ff5f56}

.yellow{background:#ffbd2e}

.green{background:#27c93f}


.title{flex:1;
    margin-left:10px}


.chat{flex:1;padding:15px;
    overflow-y:auto}


input{
    border:none;
    padding:15px;
    background:rgba(0,0,0,.6);
    color:#00ff88;
    font-size:16px;
    touch-action: manipulation;
    outline:none
}